astroid==3.3.10
black==25.1.0
click==8.2.1
colorama==0.4.6
dill==0.4.0
eventkit==1.0.3
futu==0.0.1
ib-insync==0.9.86
ibapi==9.81.1.post1
isort==6.0.1
mccabe==0.7.0
mypy_extensions==1.1.0
nest-asyncio==1.6.0
numpy==2.2.3
packaging==25.0
pandas==2.3.2
pathspec==0.12.1
platformdirs==4.3.8
pylint==3.3.7
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.17.0
tomlkit==0.13.3
tzdata==2025.1
